html {
  background-color: #0092ff;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: normal;
  max-width: 80vw;
  margin: auto;
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
}

img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.contact {
  display: grid;
  width: 40vw;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem auto 0 auto;
  background: transparent;
  grid-gap: 0.5rem;
}

div, a{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}

.contact-value {
  font-size: 20px;
}
