html {
  background-color: antiquewhite;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.7em;
}

h1 {
  font-size: 68px;
  margin-bottom: 5rem;
  line-height: 68px;
}

.title {
  text-align: center;
  font-weight: normal;
  font-family: 'Fredericka the Great', cursive;
}

.ingredients-container {
  transform: translate(-1rem, -1rem);
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 60%;
  margin-bottom: 3rem;
}

.ingredients {
  background-color: ghostwhite;
  padding-left: .5rem;
  padding-right: .5rem;
  border: slategray 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sources {
  margin-left: 2rem;
  margin-bottom: 0;
  font-size: .9rem;
}

article {
  width: 50%;
  margin-bottom: 3rem;
}

img {
  width: 100%;
}
