html {
  background-color: antiquewhite;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.7em;
}

h1 {
  font-size: 68px;
  margin-bottom: 5rem;
  line-height: 68px;
}

.title {
  text-align: center;
  font-weight: normal;
  font-family: 'Fredericka the Great', cursive;
}

.ingredients::before {
  transform: translate(-1rem, 1rem);
  position: absolute;
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px), radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(20 * 0.5px) calc(20 * 0.5px);
  background-position: 0 0, calc(10 * 0.5px) calc(10 * 0.5px);
}

.ingredients {
  position: relative;
  background-color: ghostwhite;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: slategray 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sources {
  margin-left: 2rem;
  margin-bottom: 0;
  font-size: .9rem;
}

article {
  width: 50%;
  margin-bottom: 3rem;
}

img {
  width: 100%;
}

@media (max-width: 1100px) {

  .ingredients-container {
    width: 90%;
    flex-direction: column;
  }

  article {
    width: 90%;
  }
}